---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
]
---

<PageLayout title='About' {headings} comment>
  <p>Developer</p>
  <p>
    一个普通到拿不出什么成绩的开发者
  </p>
  <p>
    DressAPI是我弄出来最好用的东西了 <Spoiler>小南娘❤小南娘❤小南娘❤小南娘❤</Spoiler>
  </p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Krita',
        description: 'Picture Editing',
        href: 'https://krita.org/',
        icon: import('@/assets/tools/krita.svg?raw')
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Microsoft Edge',
        description: 'Browser',
        href: 'https://www.microsoft.com/edge',
        icon: import('@/assets/tools/edge.svg?raw')
      },
      {
        name: 'Firefox',
        description: 'Browser',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'PyCharm',
        description: 'IDE',
        href: 'https://www.jetbrains.com/pycharm/',
        icon: import('@/assets/tools/pycharm.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'Windows 10',
        description: 'Operating System',
        href: 'https://www.microsoft.com/zh-cn/software-download/windows10',
        icon: import('@/assets/tools/windows10.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    我的社交媒体
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/nomdn',
        text: 'followers',
        api: 'github/nomdn'
      },
      {
        platform: 'BiliBili',
        icon: 'bilibili',
        color: '#2ca5e0',
        link: 'https://space.bilibili.com/1643709100',
        text: 'followers',
        api: 'bilibili/1643709100'
      }
    ]}
  />
</PageLayout>
