---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }

]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
  <img
    src="https://ghchart.rshah.org/659eb9/nomdn"
    alt="github activities"
    loading="lazy"
  />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'DressAPI',
        description: '一个基于知名女装仓库Dress构建的极简随机图片API',
        links: [
          { type: 'github', href: 'https://github.com/nomdn/dress-api' },
          { type: 'site', href: 'https://dress.wsmdn.top' },
          { type: 'doc', href: 'https://docs.wsmdn.top' }
        ]
      },
      {
        name: 'NoneBot 随机色图',
        description: '一个简单随机色图 NoneBot 插件(正在规划重构)',
        links: [
          { type: 'github', href: 'https://github.com/nomdn/nonebot-plugin-simple-setu' }
        ]
      }
    ]}
  />

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'Vue+Electron Learning',
        description: 'Some notes and code about learning Vue.js and Electron',
        links: [
          { type: 'github', href: 'https://github.com/nomdn/EatRedstoneNTR' },
          { type: 'site', href: 'https://github.com/nomdn/EatRedstoneNTR' }
        ]
      }
    ]}
  />
  <h2 id='sponsorship'>Sponsorship</h2>
  可以给我充电吗
  我的<a href="https://space.bilibili.com/1643709100" target="_blank">Bilibili</a>
</PageLayout>



<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
